@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --success-color: limegreen;
    --error-color: orangered;


}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;

}

.container {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,4);
    width: 450px;
}

h2 {
    text-align: center;
    color: limegreen;
    margin-bottom: 20px;
}

.form {
    padding: 30px 40px 40px;
    

}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    
}

.form-control label {
    color: black;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid lightgray;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.form-control input:focus {
    outline: 0;
    border-color: darkgray;
}

.form-control.success input{
    border-color: var(--success-color);
}
.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: blue;
    border: 2px solid blue;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;

}
